* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}

.titulo {
    display: flex;
    background-color: #FFC107;
    justify-content: center;
    left: 0px;
    top: 0px;
    width: auto;
    height: 117px;
    left: 0px;
    top: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.logo {
    height: 84px;
    width: 324px;
    left: 537px;
    top: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}

nav {
    position: relative;
    background-color: #FFA000;
    width: 100%;
    height: 48px;
    z-index: -1;

}

.listaMenu {
    width: 100%;
    height: 48px;
    left: 0px;
    top: 117px;
}

.listaMenu ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.listaMenu ul li {
    width: 57px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-transform: lowercase;
    padding-left: 56px;
    margin-right: 10px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.listaMenu ul li a {
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FDFDFD;
}

li .item1 {
    margin-left: -14px;
    padding-right: -70px;
}

li .item2 {
    margin-left: -22px;

}

li .item3 {
    margin-left: -8px;
}


#contato-cliente {
    display: flex;
    background-image: url(contato1.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 419px;
}

#contato-cliente h1 {
    color: #ffff;
    font-size: 70px;
    font-weight: 700;
    padding: 49px;
}

.container {
    display: flex;
    justify-content: center;
    margin-bottom: 133px;
    margin-top: 102px;
    gap: 0px 15px;
}

form {
    display: flex;
    flex-direction: column;
    border: 1px solid #ffa000;
    border-radius: 20px;
    width: 820px;
    height: 766px;
    padding: 65px 37px;
}

form h2 {
    color: #ffa000;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 65px;
}

.dados {
    height: 48px;
    margin-bottom: 22.8px;
    border: 1px solid #ffa000;
    border-radius: 7px;

}

#mensagem {
    border: 1px solid #ffa000;
    border-radius: 7px;
}

button {
    font-size: 16px;
    font-weight: 700;
    color: #ffff;
    background: #ffc107;
    border-radius: 50px;
    width: 164px;
    height: 48px;
    border: none;

}

#botao {
    margin-top: 25px;
}

#botao,
select {
    cursor: pointer;
}

#botao:hover {
    background: #dfb846;
}

@media only screen and (max-width: 700px) {
    #foto {
        display: none;
    }
}



footer {
    position: relative;
    width: 100%;
    height: 119px;
    left: 0px;
    top: 297px;
    background: #FFC107;
}

.logoFooter {
    position: absolute;
    height: 84px;
    width: 324px;
    left: 160px;
    top: 13px;
    margin-top: 10px;
    margin-bottom: 20px;

}

footer .textoFooter p {
    position: relative;
    width: 464px;
    height: 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: lowercase;
    color: #FFFFFF;
    margin-left: 520px;
    top: 55px;
}